body
    {
        font-family: Bahnschrift Light, Arial, Helvetica, sans-serif;
        background-image: url("images/backGround.png");
    }

main
    {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 50px 100px;
        font-size: large;
        
    }

header
    {
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
    }

section 
    {
        display: flex;
        flex-direction: row;
        
        margin-bottom: 20px;
        padding-bottom: 15px;    
    }

.column
    {
        flex: 1;        
        text-align: center;
    }  
img
    {
        margin-left: 20px;
        width: 200px;
        height: 280px;
    }

.leftImgText
    {
        display: flex;
        flex-direction: row;        
    }

footer
    {
        text-align: center;
        padding: 20px 0 20px;
    }

h1   
    {
        padding: 10px 0 10px;
        margin: 10px;
    }
h2
    {
        display: block;
        text-align: center;
    }
h3
    {
        margin: 20px 20px 20px 25px;        
        text-align: center;
    }

p
    {
        margin: 20px 20px 20px 25px;
        text-align: justify;
        text-indent: 2em;
    }
ul
    {
        margin: 20px 20px 20px 25px;
        text-align: left;
    }
li
    {
        margin-bottom: 5px;
    }

input
    {
        margin-top: 5px;
        padding: 10px 10px;
    }
textarea
    {        
        margin: auto;
        display: flex;
        resize: none;
    }

/*Modify*/
.bgWhite
    {
        background: rgba(255, 255, 255, 0.8);
    }

.smallShadow
    {
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

.hideIt
    {
        display: none;
    }

.linear
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.textCenter
    {
        text-align: center;
    }

.textItalic
    {
        font-style: italic;
    }

.textSmall
    {
        font-size: small;
    }

.smallRow
    {
        display: flex;        
        flex: row;
        justify-content: space-between;
    }

.textRight
    {
        margin-right: 20px;
        margin-bottom: 10px;
        text-align: right;
    }

.staticHeight
    {     
        height: 150px;
    }

.emptySpaceRight
    {
        margin-right: 10px;
    }

@media screen and (max-width: 1200px)
{
    .rebuilder
    {
        display: flex;
        flex-direction: column;
    }

    .afterRebuilder
    {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center; 
    }

    .staticHeight
    {
        height: 150px;
    }
}